{% extends "base.html" %}

{% block content %}
    <script>
        $("document").ready(function(){
            $("#submissions").hide();
            $("#category").hide();
        });

        function toggleLike(element) {
            var tracker = element.parentElement.parentElement.nextElementSibling.firstElementChild;
            var oldLikes = parseInt(tracker.innerHTML, 10);
            var add = 1;
            if ($(element).hasClass('liked')) { 
                var newLikes = oldLikes - 1;   
                add = -1;             
            } else {
                var newLikes = oldLikes + 1; 
            }

            $.ajax({ 
                url : "/like", 
                type: "POST", 
                data : {likes : add, id : element.id} , 
                success: function(data, textStatus, jqXHR) { 
                    console.log(data);// You can see the result which is created in chat.php
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(textStatus);// if there is an error
                }
            });

            tracker.innerHTML = newLikes;
            $(element).toggleClass('liked')
        }
    </script>
    <div class = "text-center">
            <form action="">
                    <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                      <div class="input-group">
                        <input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="input-group-append">
                          <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
                        </div>
                      </div>
                    </div>
            </form>
    Browse By: 
    <button class="btn btn-default" id="toggle-top">Top</button> 
    <button class="btn btn-default" id="toggle-submissions">Submissions</button>
    <button class="btn btn-default" id="toggle-category">Category</button>
    <div id = "top" class = "pt-3">
        <table class = 'table table-hover'>
            {% for question in questions %}
                <tr>
                    <table class = 'table-borderless'>
                        <tr>
                            <td><button id = '{{question.ModifiedQuestion.id | safe}}' class = "btn {{'liked' if user in question.ModifiedQuestion.likes}}" style = 'background-color: transparent;' onClick = "toggleLike(this)"><i class="fa fa-thumbs-up" style="font-size:36px"></i> </button></td>
                            <td>{{ question.ModifiedQuestion.question_text}}</td>
                        </tr>
                        <tr>
                            <td style = 'vertical-align: top; text-align: center'> 
                                {{question.total}}
                            </td>
                            <td>
                            {{ question.ModifiedQuestion.answer}}
                            </td>
                        </tr>
                    </table>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div id = "submissions" class = "pt-3">
        Content for Submissions
    </div>
    <div id = "category" class = "pt-3">
        <table class = 'table'>
            {% for pair in zipped %}
                <tr>
                    <td><a href = "/category/{{pair[0].id | safe}}">{{pair[0].name}}</a></td>
                    <td><a href = "/category/{{pair[1].id | safe}}">{{pair[1].name}}</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    <script>
        $("#toggle-top").click(function(){
            $("#submissions").hide();
            $("#category").hide();
            $("#top").show();
        });

        $("#toggle-submissions").click(function(){
            $("#top").hide();
            $("#category").hide();
            $("#submissions").show();
        });

        $("#toggle-category").click(function(){
            $("#submissions").hide();
            $("#top").hide();
            $("#category").show();
        });


    
    </script>
{% endblock %}