{% extends "base.html" %}

{% block content %}
    <script>
        $("document").ready(function(){
            $("#register").hide();
        });
    </script>
    <div id = "form-div">
    <div id = "login" class = "pt-3">
        <a class="btn btn-default toggle-login">Sign In</a> 
        <a class="btn btn-default toggle-register">Create Account</a>
        <h1>Welcome Back!</h1>
        <form action="" method="post" novalidate>
            {{ loginform.hidden_tag() }}
            <p>
                {{ loginform.email(size=32, placeholder = "Email") }}
            </p>
            <p>
                {{ signupform.password(size=32, placeholder = "Password") }}
            </p>
            <p>{{ loginform.remember_me}} Remember Me<p>
            {{ loginform.submit(class="btn btn-default") }}       
        </form>
    </div>
    <div id = "register" class = "pt-3">
        <a class="btn btn-default toggle-login">Sign In</a> 
        <a class="btn btn-default toggle-register">Create Account</a>
        <form action="" method="post" novalidate>
            {{ signupform.hidden_tag() }}
            <p>
                {{ signupform.firstname(size=32, placeholder = "First Name") }}
            </p>
            <p>
                {{ signupform.lastname(size=32, placeholder = "Last Name") }}
            </p>
            <p>
                {{ signupform.email(size=32, placeholder = "Email") }}
            </p>
            <p>
                {{ signupform.password(size=32, placeholder = "Password") }}
            </p>
            {{ signupform.submit(class="btn btn-default") }}
        </form>
    </div>
    </div>
    <script>
        $(".toggle-login").click(function(){
            $("#register").hide().attr("formnovalidate");
            $("#login").show();
        });

        $(".toggle-register").click(function(){
            $("#login").hide().attr("formnovalidate");
            $("#register").show();
        });

        var $buttons = jQuery('a');
        $buttons.on('click',function() {
            jQuery(this).addClass('active').siblings('a').removeClass('active');
        });
    </script>
{% endblock %}